.xAccordion{

 margin-top: 3px;
}
.xAccordion .item{
 
  transition:height 2s;
  -moz-transition:height 2s; /* Firefox 4 */
  -webkit-transition:height 2s; /* Safari and Chrome */
  -o-transition:height 2s; /* Opera */
   border: 1px solid #ccc;
   margin-bottom: 5px;
   box-shadow: 0px 0px 3px 3px #f2f2f2;
   overflow: hidden;
   border-radius: 5px;
}
.xAccordion .item .header{width: 100% !important;height: 50px;line-height: 50px;  border-bottom: 1px solid #ccc;padding: 0px 20px;}
.xAccordion .item .content{padding: 0px 20px;}