
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/public/static/js/utils/index.css?v=20160420_1530">
    <script type="text/javascript" src='/public/static/vendor/utils/jquery-1.11.1.min.js?v=20160420_1530'></script>
    <script type="text/javascript" src='/public/static/js/utils/index.js?v=20160420_1530'></script>
    <!--[if lt IE 9]>
      <script src="/public/static/vendor/utils/j/html5shiv.min.js?v=20160420_1530"></script>
      <script src="/public/static/vendor/utils/selectivizr-min.js?v=20160420_1530"></script>
    <![endif]-->