.xTip{position: relative;clear: both; padding:10px;text-align: center ;display: inline-block;}
.xTip .content{
	           background: #Fff;
	           padding: 15px 15px;
	           border-radius: 5px;
               margin:3px ;display: block;
               word-wrap: break-word;
               max-width: 88%;
               font-size: 15px;
               min-width: 100px;
               max-width: 300px;
               display: none;
               z-index: 10;
               background: #fff;
                border: 1px solid #ccc;
	           }
.xTip .left{text-align: left ;right: 0px; top: 0px;position: absolute;}
.xTip .left:before {
	border-top: 8px solid transparent;
	border-right: 8px solid #ccc;
	border-left: 8px solid transparent;
	border-bottom: 8px solid transparent;
	content: ' ';
	position: absolute;
	top: 6px;
	left: -16px;
}
.xTip .right{ text-align: right; top: 0px;position: absolute;}
.xTip .right:before {
	border-top: 8px solid transparent;
	border-right: 8px solid  transparent ;
	border-left: 8px solid #ccc;
	border-bottom: 8px solid transparent;
	content: ' ';
	position: absolute;
	top: 6px;
	right: -16px;
}


.xTip .top{ text-align:center; top: 0px;right: -50%; position: absolute;}
.xTip .top:before {
	border-top: 8px solid  #ccc ;
	border-right: 8px solid  transparent ;
	border-left: 8px solid transparent;
	border-bottom: 8px solid transparent;
	content: ' ';
	position: absolute;
	right: 49%;
	bottom: -16px;
	
}

.xTip .bottom{ text-align:center; top: 0px;right: -50%; position: absolute;}
.xTip .bottom:before {
	border-top: 8px solid transparent ;
	border-right: 8px solid  transparent ;
	border-left: 8px solid transparent;
	border-bottom: 8px solid  #ccc  ;
	content: ' ';
	position: absolute;
	top: -16px;
	right: 49%;
}

.xTip:after{
  display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;
}