#test{width: 100%;background: red;margin:0 auto;display: table;}
#test .c280{width: 3.733333rem;height: 2.666667rem;display: table-cell;background: red;}
#test .c470{height: 2.666667rem;display: table-cell;background: yellow;}