
input::-ms-clear { display: none; } 
.xForm input[type=text]
{
	height: 37px;
	border:0px solid #CCC;	
	outline:none;
    background: #fff;
    margin: 0 auto !important;
    float: left;
}

.xForm input[type=text]:focus{
	border:0px solid #CCC;
	background: #f2f2f2;
	outline:none;
    
}
.xForm{line-height: 35px;background: #fff;}
.xForm input{height: 35px;line-height: 35px;width: 250px;}
.xForm .control{
	border:1px solid #CCC;
	border-radius: 2px;
	display: table-cell;
	text-align: top;
	height: 37px;
	padding: 0px;margin: 0 auto;
    clear: both;
}
.pt{}
.pt:hover{cursor: pointer;}
.xForm  .prefix{padding:0px 15px !important;border:0px solid #CCC !important;  border-right:1px solid #CCC !important;height: 100%;display: inline-block;float: left;}
.xForm  .stuffix{padding:0px 15px !important;border:0px solid #CCC !important; border-left:1px solid #CCC !important;height: 100%;display: inline-block;float: left;}
.xForm .text{padding:5px 0px;}
.xForm .numer{}
.xFrom .int{}
.xForm .date{}
.xForm .select{}
.xForm .combo{}
.xForm .checkbox{}
.xForm .radio{}
.xForm .control input[type=text]{margin: 0 auto;padding: 0px ;border: 0px solid #CCC !important;}
.xForm .select{
	padding:0px 0px;border:0px solid #CCC !important;  height: 100%;display: inline-block;
}
.xForm .select>ul{position: absolute;top: 37px;left: -1px;z-index: 10;display: none;margin:0 auto;padding: 0px;border:1px solid #CCC;
	background: #FFF ;min-width: 250px;list-style: none;min-height: 30px;}
.xForm .select>ul>li:hover{background: #f2f2f2;}
.xForm .line{margin-bottom: 5px;clear: both;}
.xForm .select{height: 100%;height: 35px;width: 250px;margin:0 auto;padding: 0px;float: left;position: relative;}
.xForm .select:before{
	content: 'h';    
    font-family: cgs!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    right: 0px;
    position: absolute;
}

.xForm .combo{
	padding:0px 0px;border:0px solid #CCC !important;  height: 100%;display: inline-block;
}
.xForm .combo .active{background: #f2f2f2;}
.xForm .combo>ul{position: absolute;top: 37px;left: -1px;z-index: 10;display: none;margin:0 auto;padding: 0px;border:1px solid #CCC;
	background: #FFF ;min-width: 250px;list-style: none;min-height: 30px;}
.xForm .combo .item{}
.xForm .combo>ul>li:hover{background: #f2f2f2;}
.xForm .combo{height: 100%;height: 35px;width: 250px;margin:0 auto;padding: 0px;float: left;position: relative;}
.xForm .combo:before{
	content: 'h';    
    font-family: cgs!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    right: 0px;
    position: absolute;
}
.xForm   .prefix,.xForm   input,.xForm   select, .xForm   span{vertical-align: middle;}

.xForm .search {height: 37px;}
.xForm .search .content {border:0px solid #CCC;display: inline-block;float: left;height: 100%;}
.xForm .search input[type=text]{border-top:1px solid #ccc !important;border-bottom:1px solid #ccc !important;height: 35px;}
.xForm .search .prefix{border:1px solid #ccc !important;height: 100%;}
.xForm .search .btn-search {
border:1px solid #d71d48;
	height: 100%;padding: 0px 20px !important;background: #d71d48; vertical-align: middle;text-align: center;display: inline-block;}
.xForm  .search .prefix,.xForm  .search input,.xForm  .search select, .xForm  .search .stuffix{vertical-align: middle;}
.xForm  .search .btn-search:before{
	content: '#';    
    font-family: cgs!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    color: #fff;
}


.xForm  .search .btn-search:hover{cursor: pointer;}
